<h2>Exemplos de diretivas ngIf</h2>
<h3>1</h3>
<div style="background-color: aqua" *ngIf="mostraExemplo1">Exemplo 1</div>
<p>
  <button (click)="exemplo1()">Habilitar</button>
</p>

<h3>2</h3>
<div
  style="background-color: blueviolet"
  *ngIf="mostraExemplo2; else meutemplate"
>
  Exemplo 2
</div>

<ng-template #meutemplate>
  <div style="background-color: blue">Exemplo 3</div>
</ng-template>
<p>
  <button (click)="exemplo2()">Habilitar</button>
</p>

<h3>3</h3>
<div
  style="background-color: brown"
  *ngIf="mostraExemplo3; then meutemplate1; else meutemplate2"
></div>
<ng-template #meutemplate1>
  <div style="background-color: blue">Exemplo 3</div>
</ng-template>
<ng-template #meutemplate2>
  <div style="background-color: rgb(0, 255, 38)">Exemplo 3</div>
</ng-template>
<button (click)="exemplo3()">Habilitar</button>
